@model FoodReport.Models.Report.EditReportViewModel
<script src="~/js/ReportDetails.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/TableStyleSheet.css">
<link rel="stylesheet" type="text/css" href="~/css/InfoStyleSheet.css"/>

@{
    ViewData["Title"] = "Details";
    var list = Model.Products.Select(c => new SelectListItem {Text = c.Name, Value = c.Name})
        .ToList();
}
<strong>@ViewData["Error"]</strong>

<h2>Report details</h2>

<div>
    <hr/>
    <table class="table">
        <thead>
        <tr>
            <th>
                <label>Product</label>
            </th>
            <th>
                <label>Count</label>
            </th>
            <th>
                <label>Price</label>
            </th>
        </tr>
        </thead>
        <tbody>
        @if (User.Identity.Name == Model.Report.Owner)
        {
            @foreach (var item in Model.Report.List)
             {
                 <tr>
                     <td>
                         <select class="form-control" asp-for="@item.Product"
                                 asp-items="@list">
                         </select>
                     </td>
                     <td>
                         <input class="form-control" type="text" value=@item.Count/>
                     </td>
                     <td>
                         <input class="form-control" type="text" value=@item.Price/>
                     </td>
                 </tr>
             }
        }
        else
        {
            @foreach (var item in Model.Report.List)
             {
                 <tr>
                     <td>
                         @Html.DisplayFor(modelItem => item.Product)
                     </td>
                     <td>

                         @Html.DisplayFor(modelItem => item.Count)
                     </td>
                     <td>
                         @Html.DisplayFor(modelItem => item.Price)
                     </td>
                 </tr>
             }
        }
        </tbody>
    </table>
</div>
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Report.Owner)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Report.Owner)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Report.Status)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Report.Status)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Report.Date)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Report.Date)
    </dd>
    @if (Model.Report.isEdited)
    {
        <dt>
            Edited
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Report.LastEdited)
        </dd>
        <dt>
            Edited by
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Report.EditedBy)
        </dd>
    }
    @if (Model.Report.Message != null)
    {
        <dt>
            Reason
        </dt>
        <dd>
            <div>
                @Html.DisplayFor(model => model.Report.Message)
            </div>
        </dd>
    }
</dl>
<div>
    <strong>Actions: </strong>
    <br/>
    @if (User.Identity.Name == Model.Report.Owner)
    {
        <a class="btn btn-default" onclick="Save('@Model.Report.Id')">Save</a>
        <br/>
        <br/>
    }
    @if (User.IsInRole("Admin"))
    {
        <a class="btn btn-default" onclick="Approve('@Model.Report.Id', '@User.Identity.Name')">Approve</a>
        <a class="btn btn-default" onclick="RejectForm('@Model.Report.Id', '@User.Identity.Name')">Reject</a>
        <br/>
        <div id="rej"></div>
    }
    <br/>
    <a class="btn btn-default" asp-action="Index">Back to List</a>
</div>