@model IEnumerable<FoodReport.DAL.Models.Report>
<link rel="stylesheet" type="text/css" href="~/css/TableStyleSheet.css">
<link rel="stylesheet" type="text/css" href="~/css/SearchStyleSheet.css" />


@{
    ViewData["Title"] = "Index";
}
<strong>@ViewData["Error"]</strong>

<h2>Report</h2>

<p>
    <a class="btn btn-default" asp-action="Create">Create New</a>

    <a class="btn btn-default" asp-action="Summary" asp-route-month="12">Summary</a>

</p>
<form asp-action="Search" method="get">
    <select name="criteria" id="soflow">
        <option>Owner</option>
        <option>Date</option>
        <option>Status</option>
    </select>
    <input type="text" name="value" />
    <input type="submit" value="Search" class="btn btn-default"/>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Search" asp-route-criteria="date" asp-route-value="@item.Date.ToShortDateString()">
                        @item.Date.ToShortDateString()
                    </a>
                </td>
                <td>
                    <a asp-action="Search" asp-route-criteria="owner" asp-route-value="@item.Owner">
                        @item.Owner
                    </a>

                </td>
                <td>
                    <a asp-action="Search" asp-route-criteria="status" asp-route-value="@item.Status">
                        @item.Status
                    </a>
                </td>
                <td>
                    <a class="btn btn-default" asp-action="Details" asp-route-id="@item.Id"> Details </a> 
            @if (User.IsInRole("Admin"))
                    {
                        <a class="btn btn-default" asp-action="Delete" asp-route-id="@item.Id"> Delete </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
