@model IEnumerable<FoodReport.DAL.Models.Report>
<h2>@ViewData["Message"]</h2>
<strong>@ViewData["Error"]</strong>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {

            <tr>
                <td>
                    <a asp-action="Search" asp-route-criteria="date" asp-route-value="@item.Date.ToShortDateString()">
                        @item.Date.ToShortDateString()
                    </a>
                </td>
                <td>
                    <a asp-action="Search" asp-route-criteria="owner" asp-route-value="@item.Owner">
                        @item.Owner
                    </a>

                </td>
                <td>
                    <a asp-action="Search" asp-route-criteria="status" asp-route-value="@item.Status">
                        @item.Status
                    </a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id"> Details </a>
                    @if (item.Owner == User.Identity.Name)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id"> Delete </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
